div#topbar {
  display: block; }
  div#topbar img {
    margin: auto;
    padding: inherit;
    width: 10%;
    height: 15%; }
  div#topbar div#menu {
    display: inline-block; }
    div#topbar div#menu div#home {
      display: inline-block;
      margin: 1em;
      padding: inherit;
      font-size: 1.5em;
      font-weight: bold; }
    div#topbar div#menu div#interest {
      display: inline-block;
      margin: 1em;
      padding: inherit;
      font-size: 1.5em;
      font-weight: bold; }
    div#topbar div#menu div#saved {
      display: inline-block;
      margin: 1em;
      padding: inherit;
      font-size: 1.5em;
      font-weight: bold; }
